* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
img {
    max-width: 100%;
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding: 0 1rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
a, a:visited, a:hover {
    text-decoration: none;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.section-text {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
ul {
    list-style: none;
}
.btn-primary {
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #fff;
}
.btn-primary:hover {
    cursor: pointer;
    color: #fff;
    background-color: transparent;
}

/* HEADER + BANNER SECTION STARTS */
.header {
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.header .box1 {
    display: none;
}
.header .row {
    min-height: 808px;
}
.header .header-content {
    width: 45%;
    text-align: right;

}
.header .header-content h1 {
    color: white;
    font-size: 65px;
    font-weight: 700;

}
.header .header-content p {
    margin: 24px 0 32px;
}
.header .header-content .btn-primary {}
/* HEADER + BANNER SECTION ENDS */

/* FAILIURE SECTION STARTS */
.failiure {
    margin: 140px 0 130px;
}
.failiure .row {
    gap: 87px;
}
.failiure .failiure-content {
    width: 45%;
}
.failiure .failiure-content h2 {}
.failiure .failiure-content p {
    color: #444343;
}
.failiure .failiure-content > p {
    margin: 24px 0 16px;
}
.failiure .failiure-content i {
    color: #16D887;
    margin-right: 10px;
}

/* FAILIURE SECTION ENDS */

/* MY PLANS SECTION STARTS */
.my-plans {
    text-align: center;
    margin-bottom: 135px;
}
.my-plans .my-plans-header {
    margin-bottom: 50px;
}
.my-plans .plan {
    width: 25%;
}
.my-plans .plan h4 {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin: 21px 0 16px;
}
.my-plans .plan p {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}
/* MY PLANS SECTION ENDS */

/* HARDWORK SECTION STARTS */
.hardowrk {}
.hardwork .hardwork-overlay {
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-size: cover;
    min-height: 300px;
}
.hardwork .row {
    min-height: 300px;
}
.hardwork .motivation-message {
    margin-left: 64px;
    width: 50%;
}
.hardwork .motivation-message h1 {
    color: #fff;
    margin-bottom: 24px;
}
/* HARDWORK SECTION ENDS */

/* FOOTER SECTION STARTS */
.footer {
    background-color: #151414;
    padding: 130px 0;
    color: white;
}
.footer .footer-contact {}
.footer .footer-contact h2 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}
.footer .footer-contact p {}
.footer .footer-contact .footer-description {
    margin: 16px 0 24px;
}
.footer .footer-contact .footer-email {
    margin-bottom: 16px;
}
.footer .footer-contact .footer-phone {
    margin-bottom: 32px;
}
.footer .footer-box {
    width: 50%;
}
.footer .footer-contact-social a:not(:last-child) {
    margin-right: 30px;
}
.footer .footer-sub {}
.footer .footer-sub-box {}
.footer .footer-sub-box h3 {
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.footer .footer-sub-box input[type="email"] {
    width: 100%;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    padding: 21px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: transparent;
    margin: 31px 0 16px;
}
.footer .footer-sub-box .btn-primary {
    color: #fff;
    background-color:#005FAC;
    border-color:#005FAC;
}
.footer .footer-sub-box .btn-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color:#005FAC;
}
/* FOOTER SECTION ENDS */

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        margin: auto;
        padding: 0;
    }
    .header {
        opacity: 1;
    }
    .header .box1 {
        display: block;
    }
}
